{% extends '_base.html' %}
{% load static %}

{% block title %}
  Todos | Home
{% endblock %}

{% block content %}
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      <div class="input-group mb-3">
        {{ form }}
        <div class="input-group-append">
          <button class="btn btn-sm btn-primary" type="submit">Create ToDo</button>
        </div>
      </div>
      <div class="mb-3">
        <a href="{% url 'todos:delete-completed' %}" class="btn btn-sm btn-danger mr-1">Delete Completed</a>
        <a href="{% url 'todos:delete-all' %}" class="btn btn-sm btn-danger">Delete All</a>
      </div>
    </form>
    <ul class="list-group">
      {% for todo in todos %}
        <li class="list-group-item d-flex align-items-center justify-content-between">
          {% if todo.is_completed %}
            <strike>
              {{ todo }}
            </strike>
          {% else %}
            {{ todo }}
          {% endif %}
          <div>
            {% if todo.is_completed %}
              <a href="{% url 'todos:complete' todo_id=todo.id %}" class="btn btn-sm btn-info mr-2 disabled">Complete</a>
            {% else %}
              <a href="{% url 'todos:complete' todo_id=todo.id %}" class="btn btn-sm btn-info mr-2">Complete</a>
            {% endif %}
            <a href="{% url 'todos:delete' todo_id=todo.id %}" class="btn btn-sm btn-danger">Delete</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
