<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="{% url 'todos:index' %}">Todo App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        {% with url_name=request.resolver_match.url_name %}
          <a href="{% url 'todos:index' %}" class="nav-item nav-link {% if url_name == 'index' %}active{% endif %}">Todos</a>
          <a href="{% url 'todos:about' %}" class="nav-item nav-link {% if url_name == 'about' %}active{% endif %}">About</a>
        {% endwith %}
      </div>
    </div>
  </div>
</nav>
